# Ignore node_modules as it should be installed inside the container
node_modules

# Ignore any npm log files
npm-debug.log

# Ignore development and debugging files
.DS_Store
.vscode/
*.swp

# Ignore any build artifacts
/build

.env.dev

# Ignore any test or spec files
test/
*.test.js

# Ignore any documentation files
docs/

# Ignore any backup files
*.bak
